{% extends "base.html.twig" %}

{% block metatitle %}
    Accueil | Le blog de la piscine
{% endblock metatitle %}


{% block main %}
    <h1>Hello la piscine</h1>

    <p>Dans ce super site web, vous trouverez des articles rédigés avec le coeur et des catégories pour trouver plus facilement vos articles.<br>
    Vous aurez aussi la possibilité de créer vos propres articles et de tout modifier !</p>

    <h4>Enjoy !!</h4>
{% endblock main %}